@import "tailwindcss";


* {
  font-family: Ovo, sans-serif;
}

.font-outfit {
  font-family: Outfit, serif;
}

@media (max-width: 768px) {
  body {
    transform: scale(0.85);
    transform-origin: top;
  }
}

body {
  @apply bg-white text-black transition-colors duration-300;
}

.dark body {
  @apply bg-gray-900 text-white transition-colors duration-300;
}

.dark a {
  @apply text-white;
}
